@model FindIt.Web.Models.DigestFormModel
@{
    ViewBag.Title = "Edit";
}
<h2>
    Edit</h2>
@using (Html.BeginForm("Add", "Digest", FormMethod.Post, new { enctype = "multipart/form-data" })) {
   
    <div>
        @Html.Partial("_DigestForm", Model)
    </div>
    <div>
        <button type="submit" value="save">
            Submit</button>
    </div>
}
