<unity>
  <typeAliases>
    <typeAlias alias="string" type="System.String, mscorlib" />
    <typeAlias alias="singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity" />
    <typeAlias alias="perRequest" type="FindIt.Web.UnityExtensions.UnityHttpContextPerRequestLifetimeManager, FindIt.Web" />
  </typeAliases>
  <containers>
    <container name="container">
      <types>
        
        <type type="FindIt.Data.IUnitOfWork, FindIt.Data" mapTo="FindIt.Data.SqlServer.FindItDbContext, FindIt.Data.SqlServer">
          <lifetime type="perRequest" />
        </type>
        <type type="FindIt.Web.Authentication.IFormsAuthentication, FindIt.Web" mapTo="FindIt.Web.Authentication.DefaultFormsAuthentication, FindIt.Web">
          <lifetime type="perRequest" />
        </type>
        <!-- Repository -->
        <type type="FindIt.Data.IDigestRepository, FindIt.Data" mapTo="FindIt.Data.SqlServer.Repositories.DigestRepository, FindIt.Data.SqlServer">
          <lifetime type="perRequest" />
        </type>
        <!-- Domain -->
        <type type="FindIt.Domain.Contracts.IUserServices, FindIt.Domain" mapTo="FindIt.Domain.UserServices, FindIt.Domain">
          <lifetime type="perRequest" />
        </type>
      </types>
    </container>
  </containers>
</unity>

